<!DOCTYPE html>
<html>
  <head></head>
  <body>

    <style>
      
      h1 {
        background-color: antiquewhite;
        margin: 10px;
      }
    </style>


    <div class="container">  <!-- この行を追加 -->
    <div class="row">
      <div class="col-md-7">
        <table class="table table-hover">
        <h1>Hello <%= @admin.email %> !</h1>
        <tr><th>E-mail</th><td><%= @admin.email %></td></tr>
        <tr><th>Password</th><td><%= @admin.encrypted_password %></td></tr>
        </table>
      
        <%= link_to edit_admin_path(@admin), class: "btn btn-secondary btn-block" do %>
        <i class="fas fa-user-cog fa-lg"></i>
        <% end %>
      </div>



<!--link_toはデフォルトがGET なのでメソッドの指定はしないのが正解。deleteはメソッド指定が必要な場合もある-->
 <!--<div class="container">-->
 <!-- <div class="row">-->
    <div class="col-md-5">
      <h1>New Item</h1>
      
      <%= form_with model: @item, url:items_new_path do |f| %>
      <h4>Item Name</h4>
      <%= f.text_field :name %>
      <h4>Price</h4>
      <%= f.text_field :price %>
      <h4>Introduction</h4>
      <%= f.text_area :introduction %></br>
      
      <%= f.submit 'Create Book', class: "btn btn-success" %>
      <% end %>
    </div>
    </div>
    </div>


  </body>
</html>