
<!DOCTYPE html>
<html>
  <head>
    <h1>Admins#new</h1>
    <p>Find me in app/views/admins/new.html.erb</p>
    <h2>Sign up</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  </head>
  
  <body>
    <h4>E-mail</h4>
    <div class="field">
        <%= f.text_field :email %>
    </div>
    
    <h4>password</h4>
    <div class="field">
        <%= f.password_field :encrypted_password %><br>
    <h4>password_confirmation</h4>
    </div>
 
   <h4>password_confirmation</h4>
   <div class="field">
   <%= f.password_field :encrypted_password_confirmation %>
   </div>
   
   <div class="actions">
    <%= f.submit "Sign up" %>
    </div>


    <%= render "devise/shared/links" %>

  </body>
</html>
    