<html>
  <head></head>
  <body>
    <div class="container">
     <div class="row">
      <div class="col-md-5">
      <%= form_with model: @address, url: addresses_path do |f| %>
      <table class="table">
       <tr><th>郵便番号</th><td><%= f.number_field :postal_code %></td></tr>
       <tr><th>住所</th><td><%= f.text_area :address %></td></tr>
       <tr><th>宛名</th><td><%= f.text_field :name %></td></tr>
      </table>
      <%= f.submit '変更を保存' %>
      <% end %>
  </body>
  
  <style>
    .table {
      text-align: center;
      item-align: center;
    }
  </style>
</html>