
 <div class="container">
  <div class="row">
    <div class="col-lg-4">
<h1>New Items</h1>
  <%= form_with model: @items do |f| %>
    <h4>Item Image</h4>
    <%= f.file_field :image, accept: "image/*" %>
    <h4>Item Name</h4>
      <%= f.text_field :name %>
    <h4>Introduction</h4>
      <%= f.text_area :introduction %><br>
    <%= f.submit 'Create' %>
  <% end %>
    </div>
    
    <div class="col-lg-8">

    <div>
      <h1>Items</h1>
    <table class="table table-striped">
      <thead>
          <th>Item Image</th>
          <th>Item name</th>
          <th>Introduction</th>
      </thead>


    </table>
    </div>
    </div>
    </div>