<html>

  <head>
      <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">  <!-- この行を追加 -->
    <div class="row">
      <div class="col-md-4">
        <h1>Customer info</h1>
        <table class="table table-striped">
          <tr><th>お名前</th><td><%= @customer.last_name %><%= @customer.first_name %> 様</td></tr>
          <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
          </table>
        <%= link_to edit_customer_path(@customer), class: "btn btn-secondary btn-block" do %>
        <i class="fas fa-user-cog fa-lg"></i>
        <% end %>

<!--link_toはデフォルトがGET なのでメソッドの指定はしないのが正解。deleteはメソッド指定が必要な場合もある-->

    </div>

       <div class="col-md-8">
         <h1>Order index</h1>

         <table class="table">
           <tr>
             <th>注文日</th>
             <th>配送先</th>
             <th>注文商品</th>
             <th>支払金額</th>
             <th>ステータス</th>
             <th>注文詳細</th>
            </tr>
             <% @orders.each do |order| %>
            <tr>
             <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
             <td>〒<%= order.sent_code %><br>
             <%= order.sent_address %><br>
             <%= order.sent_name %>様</td>
             <td>
             <% order.order_details.each do |order_detail| %>
               <%= order_detail.item.name %>
             <% end %>
             </td>
             <td><%= order.payment + order.postage %>円</td>
             <td><%= order.orders_status %></td>
             <td><%= link_to "注文詳細へ", order_path(order), class: "btn btn-success" %></td>
           </tr>
           <% end %>
           <%= paginate @orders %>
         </table>

           </div>

     </div>
     </div>

  </body>
</html>