
 <div class="container">  <!-- この行を追加 -->
    <div class="row">
      <h4>注文情報入力画面</h4>
      <div class="col-md-8">
<%= form_with model: @order, url: orders_confirm_path, method: :post do |f| %>

<table border="1">
  <tr>
    <th>支払方法</th>
    <td>

       <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
       <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
       <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
       <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>

    </td>
  </tr>

  <tr>

    <th><%= f.radio_button :register_address, 0 %>ご自身の住所</th>
    <td>
    〒<%= @customer.postal_code %><br>
    <%= @customer.address %><br>
    <%= @customer.last_name %><%= @customer.first_name %> 様</td>
  </tr>
  <div class ="box">
  <tr>
    <th><%= f.radio_button :register_address, 1 %>登録住所から選択</th>
    <td><%= f.select :address_id, options_from_collection_for_select(@customer.addresses, :id, :address_display) %></td>
  <!--f.select :address_id, options_from_collection_for_select(表示する情報群, :情報群から送る値（１つ）, :ユーザー視点に表示される情報)-->
  </tr>
  </div>

  <tr>
    <th><%= f.radio_button :register_address, 2 %>新しいお届け先
    <ul>
        <li>郵便番号（ハイフンなし）</li>
        <li>住所</li>
        <li>宛名</li>
    </ul>
    </th>
    <td>
      <ul>
        <li><%= f.number_field :sent_code %></li>
        <li><%= f.text_area :sent_address %></li>
        <li><%= f.text_field :sent_name %></li>
      </ul>
    </td>
  </table>

<%= f.submit "確認画面へ進む" %>
  <div class="actions">
    
  </div>

  </div>
  </div>
  </div>
<% end %>
<style>
  .box select {
    width: 500px;
  }
</style>