
<html>

  <head>
      <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>


  <body>
    <div class="container">  <!-- この行を追加 -->
    <div class="row">
      <div class="col-md-4">
        <h1>Customer info</h1>
        <table class="table table-striped">
          <tr><th>お名前</th><td><%= @customer.last_name %><%= @customer.first_name %> 様</td></tr>
          <tr><th>メールアドレス</th><td><%= @customer.email %></td></tr>
          </table>
        <%= link_to edit_customer_path(@customer), class: "btn btn-secondary btn-block" do %>
        <i class="fas fa-user-cog fa-lg"></i>
        <% end %>

        </div>
<!--link_toはデフォルトがGET なのでメソッドの指定はしないのが正解。deleteはメソッド指定が必要な場合もある-->


    <div class="col-md-7 offset-md-1">
      <h1>Items</h1>
      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
      <table class="table">
        <thead>
          <th> </th>
          <th>Name</th>
          <th>Introduction</th>
        </thead>
        <tr>
          <td>
            <%= link_to customer_path(@customer) do %>
            <%= image_tag @item.image, size: "150x100" %>
            <% end %></td>
          <td>
            <%= link_to item_path(@item) do %>
            <%= @item.name %>
            <% end %>
            </td>
          <td><%= @item.introduction %></td>
        </tr>
      </table>
      <div class ="order">
        <div class ="order-price">
          ￥<%= @item.price %>
          <div class ="order-serection">
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.select :amount, [['１',1], ['２',2], ['３',3], ['４',4], ['５',5], ['６',6], ['７',7], ['８',8], ['９',9]] %><br>
            <%= f.submit "カートに入れる" %>
            <% end %>
        </div>
      </div>
      </div>
      </div>
    </div>
    
    <style>
    .order {
      display: flex;
      margin: 0 0 0 auto;
    }
    </style>
  
  </body>
</html>